<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.mallproject.dao.AddressMapper">
    <insert id="insertAddress" parameterType="com.ibm.mallproject.entity.AddressInfo">
        insert into address_info(
            address_id,address_info,user_id,address_status,create_time,address_level1,address_level2,address_level3,derive_name
        )values(
            #{address_id,jdbcType=VARCHAR},
            #{address_info,jdbcType=VARCHAR},
            #{user_id,jdbcType=VARCHAR},
            #{address_status,jdbcType=INTEGER},
            #{create_time,jdbcType=TIMESTAMP},
            #{address_level1,jdbcType=VARCHAR},
            #{address_level2,jdbcType=VARCHAR},
            #{address_level3,jdbcType=VARCHAR},
            #{derive_name,jdbcType=VARCHAR}
        )
    </insert>

    <select id="queryAddress" parameterType="com.ibm.mallproject.entity.AddressInfo" resultType="com.ibm.mallproject.entity.AddressInfo">
        select * from address_info where user_id = #{user_id,jdbcType=VARCHAR} order by address_status
    </select>

    <select id="queryStatus" parameterType="String" resultType="Integer">
        select count(*) from address_info where user_id = #{user_id,jdbcType=VARCHAR} and address_status=  0
    </select>

    <select id="queryStatusById" parameterType="String" resultType="com.ibm.mallproject.entity.AddressInfo">
        select * from address_info where user_id = #{user_id,jdbcType=VARCHAR} and address_status=  0
    </select>

    <select id="selectById" parameterType="String" resultType="com.ibm.mallproject.entity.AddressInfo">
        select * from address_info where address_id = #{address_id,jdbcType=VARCHAR}
    </select>

    <update id="updateStatus">
        update address_info set address_status = "1" where user_id = #{user_id,jdbcType=VARCHAR}
    </update>

    <update id="update">
        update address_info set address_info=#{address_info,jdbcType=VARCHAR},address_level1=#{address_level1,jdbcType=VARCHAR},
                                address_level2 = #{address_level2,jdbcType=VARCHAR}, address_level3 = #{address_level3,jdbcType=VARCHAR},
                                address_status=#{address_status,jdbcType=INTEGER},create_time = #{create_time,jdbcType=TIMESTAMP},
                                derive_name =  #{derive_name,jdbcType=VARCHAR}
        where address_id = #{address_id,jdbcType=VARCHAR}

    </update>

    <delete id="deleteById">
        delete from address_info where address_id = #{address_id,jdbcType=VARCHAR}
    </delete>
</mapper>