<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.mallproject.dao.SkuMapper">
    <select id="selectSkuByStatus" parameterType="com.ibm.mallproject.entity.SkuInfo" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info where sku_status = #{sku_status,jdbcType=INTEGER}

    </select>

    <select id="queryByName" parameterType="String" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info where
        <if test="sku_name !=null">
            sku_name like "%" #{sku_name,jdbcType=VARCHAR} "%"
        </if>
    </select>

    <update id="updateSku">
        update sku_info
        set price    = #{price,jdbcType=DECIMAL},
            sku_name = #{sku_name,jdbcType=VARCHAR},
            sku_desc = #{sku_desc,jdbcType=VARCHAR},
            store = #{store,jdbcType=INTEGER},
            img = #{img,jdbcType=VARCHAR},
            sku_type = #{sku_type,jdbcType=VARCHAR},
            sku_status = #{sku_status,jdbcType=INTEGER}
        where sku_id = #{sku_id,jdbcType=VARCHAR}

    </update>
    <update id="updateSkuDesc">
        update sku_info
        set sku_desc = #{sku_desc,jdbcType=VARCHAR}
        where sku_id = #{sku_id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteSkuAll">
        delete
        from sku_info
    </delete>
    <delete id="deleteSkuById" parameterType="String">
        delete from sku_info where sku_id in (
            <foreach collection="list" item="sku_id" separator=",">
                #{sku_id,jdbcType=VARCHAR}
            </foreach>
        )
    </delete>

    <update id="updateStatusById" parameterType="com.ibm.mallproject.entity.UserInfo">
        update sku_info set sku_status = #{sku_status,jdbcType=VARCHAR} where sku_id in (
            <foreach collection="sku_ids" item="sku_id" separator=",">
                #{sku_id,jdbcType=VARCHAR}
            </foreach>
        )
    </update>

    <select id="selectByIds" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info where sku_id in (
            <foreach collection="list" item="sku_id" separator=",">
                #{sku_id,jdbcType=VARCHAR}
            </foreach>
        )
    </select>

    <select id="selectSkuById" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info where sku_id = #{sku_id,jdbcType=VARCHAR}
    </select>


    <select id="selectSkuAll" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info where sku_status = 0
    </select>
<!--    //按商品名，价格(区间)查询-->
<!--    List<SkuInfo> selectSkuNamePrice(@Param("name") String name,-->
<!--    @Param("up") Double up,-->
<!--    @Param("low") Double low);-->
    <select id="selectSkuNamePrice" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info
        <where>
            <if test="sku_name != null and sku_name != ''">
                sku_name like "%"#{sku_name,jdbcType=VARCHAR}"%"
            </if>
            <if test="low_price != null and up_price != null">
                and price between #{low_price,jdbcType=DECIMAL} and #{up_price,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <insert id="insertSku">
        insert into sku_info (sku_id, price, sku_name, sku_desc, store, salcount, img, create_time, sku_summary,
                              parameter_id,sku_type,sku_status)
        values (#{sku_id,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL},
                #{sku_name,jdbcType=VARCHAR},
                #{sku_desc,jdbcType=VARCHAR},
                #{store,jdbcType=INTEGER},
                #{salcount,jdbcType=INTEGER},
                #{img,jdbcType=VARCHAR},
                #{create_time,jdbcType=TIMESTAMP},
                #{sku_summary,jdbcType=VARCHAR},
                #{parameter_id,jdbcType=VARCHAR},
                #{sku_type,jdbcType=VARCHAR},
                #{sku_status,jdbcType=INTEGER}
        )
    </insert>
</mapper>
