<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibm.mallproject.dao.SkuMapper">
    <update id="updateSku">
        update sku_info
        set price    = #{price,jdbcType=DECIMAL},
            sku_name = #{sku_name,jdbcType=VARCHAR},
            sku_desc = #{sku_desc,jdbcType=VARCHAR},
            store    = #{store,jdbcType=INTEGER},
            salcount = #{salcount,jdbcType=INTEGER}
        where sku_id = #{sku_id,jdbcType=VARCHAR}

    </update>
    <update id="updateSkuDesc">
        update sku_info
        set sku_desc = #{sku_desc,jdbcType=VARCHAR}
        where sku_id = #{sku_id,jdbcType=VARCHAR}
    </update>

    <delete id="deleteSkuAll">
        delete
        from sku_info
    </delete>
    <delete id="deleteSkuById">
        delete from sku_info where sku_id in
        <foreach collection="ids" item="sku_id" separator="," open="(" close=")">
            #{sku_id,jdbcType=VARCHAR}
        </foreach>
    </delete>
    <select id="selectSkuById" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info where sku_id = #{sku_id,jdbcType=VARCHAR}
    </select>
    <select id="selectSkuAll" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info
    </select>
<!--    //按商品名，价格(区间)查询-->
<!--    List<SkuInfo> selectSkuNamePrice(@Param("name") String name,-->
<!--    @Param("up") Double up,-->
<!--    @Param("low") Double low);-->
    <select id="selectSkuNamePrice" resultType="com.ibm.mallproject.entity.SkuInfo">
        select * from sku_info
        <where>
            <if test="name != null and name != ''">
                sku_name like "%"#{sku_name,jdbcType=VARCHAR}"%"
            </if>
            <if test="up != null and low != null">
                and price between #{low_price,jdbcType=DECIMAL} and #{up_price,jdbcType=DECIMAL}
            </if>
        </where>
    </select>

    <insert id="insertSku">
        insert into sku_info (sku_id, price, sku_name, sku_desc, store, salcount, img, create_time, sku_summary,
                              parameter_id)
        values (#{sku_id,jdbcType=VARCHAR},
                #{price,jdbcType=DECIMAL},
                #{sku_name,jdbcType=VARCHAR},
                #{sku_desc,jdbcType=VARCHAR},
                #{store,jdbcType=INTEGER},
                #{salcount,jdbcType=INTEGER},
                #{img,jdbcType=VARCHAR},
                #{create_time,jdbcType=TIMESTAMP},
                #{sku_summary,jdbcType=VARCHAR},
                #{parameter_id,jdbcType=VARCHAR}
        )
    </insert>
</mapper>
